@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* Basic elements */ 

* {
  margin: 0;
  padding: 0;
  transition: 0.3s !important;
}

h1 {
  color: #333;
  font-family: "Instrument Sans";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

h2 {
  color: #333;
  font-family: "Instrument Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  padding-bottom: 8px;
}

h3 {
  color: #333;
  font-family: "Instrument Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

p {
  color: #333;
  font-family: "Instrument Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

label {
  color: #333;
  font-family: "Instrument Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

input:focus {
  border: 1px solid var(--Purple, #633cff);
  box-shadow: 0px 0px 32px 0px rgba(99, 60, 255, 0.25);
}

/* Buttons */ 

.primary-button {
  border-radius: 8px;
  background: #633cff;
  color: #fff;
  font-family: "Instrument Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.primary-button:hover {
  background-color: #BEADFF;
  box-shadow: 0px 0px 32px 0px rgba(99, 60, 255, 0.25);
  border-color: #BEADFF;
}  

.primary-button a {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.primary-button a:hover {
  color: #fff;

}


