.validation-page {
  text-align: center;
  align-items: center;
  height: 100vh;
  justify-content: center
}

.validation-page-logo-container {
  padding-bottom: 32px;
}

.signup-validation-description {
  padding-bottom: 8px;
}

.validation-page button {
  width: 210px;
}

@media (min-width: 769px) {
  .validation-page-card-container {
    width: 650px;
  
  }
}
