.navbar-logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 150px;

}

.logo-typo{
    display: none;
}


.navbar-menu {
    height: 32px;
    background-color: #EFEBFF;
    border-radius: 8px;

}

.navbar-logo-user {
    padding-right: 10px;
}

.navbar-menu-list {
    font-weight: bold;

}

.navbar-logout {
    color: #633CFF;
}

@media (min-width: 768px) {
    .logo-typo{
        display: block;
    }

    .navbar-logo-container {
        display: flex;
        gap: 5px;
    }
    
}
