.primary-button {
    border-radius: 8px;
    background: #633cff;
    color: #fff;
    font-family: "Instrument Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
  }
  